.container() {
  width: 320px;
  margin: 0 auto;
  @media @tablet-widths {
    width: 620px;
  }
  @media @desktop-widths {
    width: 960px;
  }
}

.container-fluid() {
  width: auto;
  @media @tablet-widths {
    width: 88.6%;
    margin: 0 auto;
  }
  @media @desktop-widths {
    width: 78.33%;
    max-width: 1100px;
    margin: 0 auto;
  }
}
