@dark: #283645;
@black: #000000;
@lipstick: #d22856;
@white: #ffffff;

@mobile-widths-only: ~"(max-width: 699px)";
@tablet-widths: ~"(min-width: 700px)";
@desktop-widths: ~"(min-width: 1200px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
