.logo {
  width: 75px;
  height: 22px;

  outline: none;
}

.logo__img {
  transition: fill 0.1s linear, opacity 0.1s linear;

  fill: @white;
  &:hover,
  &:focus {
    fill: @lipstick;
  }
  &:active {
    opacity: 0.3;

    fill: @white;
  }
  &--tablet,
  &--desktop {
    display: none;
  }
}


@media @tablet-widths {
  .logo-pink-white-mobile,
  .logo-pink-white-desktop {
    display: none;
  }

  .logo-pink-white-tablet {
    display: block;
  }
}

@media @desktop-widths {
  .logo-pink-white-mobile,
  .logo-pink-white-tablet {
    display: none;
  }

  .logo-pink-white-desktop {
    display: block;
  }
}
